@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&family=Roboto&display=swap');

* {
    font-family: 'Maven Pro', sans-serif;
    margin: 0;
    padding: 0;
   /* border: 1px solid red; */
}

header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: darkgrey;
    margin-bottom: 0;
    padding: .5rem;
    gap: 1rem;
}

body {
    background-color: #6c3c9d;
}

nav {
    height: 3rem;
}

ul {
    display: flex;
    align-items: center;
    list-style: none;
    height: 100%;
    gap: 1rem;
}

header a {
    text-decoration: none;
    color: white;
}

main {
    padding-top: 1rem;
    padding-left: 1rem;
    margin: 0 auto;
    width: 50rem;
    color: white;
}

.bloco {
    background-image: url("./img/bg_laranja.jpg");
    border-radius: 1rem;
    width: 25rem;
    width: 18.75rem;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
}

.corpo {
    display: flex;
    justify-content:;
}


h1 {
    font-size: 3.5rem;
    font-weight: 800;
    margin-left: 1rem;
    margin-bottom: .5rem;
}

h2 {
    font-size: 2rem;
    margin-left: 1rem;
    margin-bottom: .5rem;
}

.bloco h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
